body{
  background-image: url("/Background-Anwesha.jpg");
  background-color:  white;
  color: white;
  font-size: 16px;
  font-family: Sans-Serif;
  margin-left: 72px;
  margin-right: 72px;
  margin-top: 72px;
}
h1{
  color: white;
  font-family: Sans-Serif;
  font-size: 48px;
  text-align: center;
}
h2{
  color: white;
  font-family: Sans-Serif;
  font-size: 30px;
  text-align: center;
}
h3{
  color: white;
  font-family: Sans-Serif;
  font-size: 20px;
  text-align: center;
}
#topnav{
  background-color: #333;
  overflow: hidden;
}
#topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
#topnav a:hover {
  background-color: #ddd;
  color: black;
}
#topnav a.active {
  background-color: #671dde;
  color: white;
}
.content {
  padding: 16px;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
.sticky + .content {
  padding-top: 60px;
}

div.textbox1{
  border-radius: 25px;
  border: 2px solid #ffffff;
  padding: 20px;
  width: auto;
  height: auto;
  background-color: #cccccc;
}
div.textbox1 p{
  margin: 0%;
  color: #000000;
}
footer{
  color: white;
}
.linkf:hover{
  color: yellow;
}
.linkf{
  color: yellow;
}
.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
.row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 5px;
}
