body{
  background-image: url("/Background-Anwesha.jpg");
  background-color:  white;
  color: white;
  font-size: 16px;
  font-family: Sans-Serif;
  margin-left: 72px;
  margin-right: 72px;
  margin-top: 72px;
}
h1{
  color: white;
  font-family: Sans-Serif;
  font-size: 48px;
  text-align: center;
}
h2{
  color: white;
  font-family: Sans-Serif;
  font-size: 30px;
  text-align: center;
}
h3{
  color: white;
  font-family: Sans-Serif;
  font-size: 20px;
  text-align: center;
}
#topnav{
  background-color: #333;
  overflow: hidden;
}
#topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
#topnav a:hover {
  background-color: #ddd;
  color: black;
}
#topnav a.active {
  background-color: #671dde;
  color: white;
}
.content {
  padding: 16px;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
.sticky + .content {
  padding-top: 60px;
}

div.textbox1{
  border-radius: 25px;
  border: 2px solid #ffffff;
  padding: 20px;
  width: auto;
  height: auto;
  background-color: #cccccc;
}
div.textbox1 p{
  margin: 0%;
  color: #000000;
}
div.video{
  margin: 0 auto;
}
footer{
  color: white;
}
.linkf:hover{
  color: yellow;
}
.linkf{
  color: yellow;
}
.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
.row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 5px;
}
@media screen and (max-width: 500px) {
  .column {
    width: 100%;
  }
}

@media only screen and (max-width: 700px) {
  .column {
    width: 49.99999%;
    margin: 6px 0;
  }
}
.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}
div.image{
 display: block;
 margin-left: auto;
 margin-right: auto;
 width: 70%;
}
div.gallery {
  border: 0px solid #ccc;

}

div.gallery:hover {
  border: 0px solid #777;
}
div.desc {
  padding: 15px;
  text-align: center;
}

div.gallery img {
  width: 100%;
  height: auto;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.cookie-banner {
  position: fixed;
  bottom: 40px;
  left: 10%;
  right: 10%;
  width: 80%;
  padding: 5px 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #eee;
  border-radius: 5px;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}
.close {
  height: 20px;
  background-color: #777;
  border: none;
  color: white;
  border-radius: 2px;
  cursor: pointer;
}
